/* Reservasi */
@media (min-width: 768px){
	.input-right{
		padding-left: 10px;
	}
	.title-form{
		margin-bottom: 30px;
		text-align: center;
	}
	.form-left{
		border-right: 1px solid #ecf0f5;
	}
}
@media (max-width: 769px){
	.input-right{
		padding-left: 0px;
		padding-top: 10px;
	}
	.title-form{
		margin-top: 50px;
	}
}
.input-right{
	padding-right: 0px;
}
.input-left{
	padding: 0px;
}
.button-reservasi{
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
	text-align: center;
}
label.error {
	display: block;
	color: red!important;
	font-size: 14px!important;
	font-family: Calibri;
}

/* Daftar */
.data-table{
	font-size: 12px;
}

/* Pendaftaran */
@media (min-width: 768px){
	.form-right{
		border-left: 1px solid #ecf0f5;
	}
}
.button-pendaftaran{
	margin-bottom: 20px;
	margin-left: 10px;
	text-align: left;
}

/* Pasien */

/* Mutasi */

/* Status */

/* Resume */

/* Kontrol */
